<% include ../partials/header %>

<div class="container">
   <h1><%= pagetitle %></h1>
   <!-- row expands margins-->
   <div class="row text-center" style="display:flex; flex-wrap: wrap;">

         <div class="col-sm-12">

         </div>

   </div>

</div>

<% include ../partials/footer %>
