<% include ../partials/header %>


<div class="container">
   <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-10" style="float:none; margin: 0 auto;">
         <h1><%= title %></h1>

         <% include ../partials/errors %>

         <form method="post" action="/register/" class="form-container">
            <div class="form-group">
               <label for="username">Email</label>
               <input type="text" class="form-control" name="username"
                  id="username" placeholder="Email - becomes your username to log in"
                  value="<%= (typeof errors === 'undefined') ? '' : user.username %>"
                  autofocus>
            </div>
            <div class="form-group">
               <label for="firstname">First name</label>
               <input type="text" class="form-control" name="firstname"
                  id="name" placeholder="First name"
                  value="<%= (typeof errors === 'undefined') ? '' : user.name.first %>">
            </div>

            <div class="form-group">
               <label for="lastname">Last name</label>
               <input type="text" class="form-control" name="lastname"
                  id="name" placeholder="Last name"
                  value="<%= (typeof errors === 'undefined') ? '' : user.name.last %>">
            </div>

            <div class="form-group">
               <label for="password">Password<small> (at least 6 characters)</small></label>
               <input type="text" class="form-control" name="password"
                  id="password" placeholder="Password - minimum 6 characters">
            </div>

            <div class="form-group">
               <label for="password2">Confirm Password</label>
               <input type="text" class="form-control" name="password2"
                  id="password2" placeholder="Confirm password">
            </div>

            <div class="form-group">
               <button type="submit" class="btn btn-cmf btn-lg btn-block">
                  Submit
               </button>
               <small><span class="asterisk">*</span>Form will not submit unless
                  all fields contain data.</small>
            </div>

         </form>

      </div>

   </div>
</div>


<% include ../partials/footer %>
