<% include ../partials/header %>

<div class="container mb03em">
   <div class="row">

      <div class="col-md-10 col-sm-10 col-xs-10" style="float:none; margin: 0 auto; margin-bottom: 3em;">
         <h2>Post new article by <%= currentUser.name %></h2>

         <form method="post" action="/articles" class="form-container" encType="multipart/form-data">
            <div class="form-group">
               <label for="title">Title</label>
               <input class="form-control" type="text"   name="title"  id="title" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
               <label for="image">Upload image</label>
               <input class="" type="file"  name="image" id="image" onchange="getFileSize()">
               <small><span class="asterisk">*</span>Must be jpg, jpeg, png, gif</small>
               <p class="color-blue" id="filesize"></p>
            </div>
            <div class="form-group">
               <label for="body">Content</label>
               <div>
                  <textarea class="form-control border-top-square froala-editor" name="body"></textarea>
               </div>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-lg btn-block btn-submit-post">
                  Submit
               </button>
            </div>
         </form>
      </div>

   </div>
</div>


<% include ../partials/footer %>
