<% include ../partials/header %>


<div class="container">
   <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-10" style="float:none; margin: 0 auto;">
         <h1>Log In</h1>

         <form method="post" action="/login" class="form-container">
            <div class="form-group">
               <label for="username">Email</label>
               <input type="text" class="form-control" name="username"
                  id="username" placeholder="Email / Username"
                  autofocus>
            </div>
            <div class="form-group">
               <label for="password">Password</label>
               <input type="text" class="form-control" name="password"
                  id="password" placeholder="Password">
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-cmf btn-lg btn-block">
                  Submit
               </button>
            </div>
         </form>

         <span class="login-view-articles"><a href="/articles">View articles</a></span>
         <span class="login-forgot-password"><a href="#">Forgot password</a></span>
      </div>

   </div>
</div>


<% include ../partials/footer %>
