<% include ../partials/header %>


<div class="container">
   <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-10" style="float:none; margin: 0 auto;">
         <h1><%=  title %></h1>

         <% include ../partials/errors %>

         <form method="post" action="" class="form-container">
            <div class="form-group">
               <label for="username">Email</label>
               <input type="text" class="form-control" name="username"
                  id="username" placeholder="Email / Username"
                  value="<%= (typeof errors === 'undefined') ? '' : username %>"
                  autofocus>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-cmf btn-lg btn-block">
                  Submit
               </button>
            </div>
         </form>
      </div>

   </div>
</div>


<% include ../partials/footer %>
