<% include ../partials/header %>

<div class="container">

   <h1><%= title %></h1>
   <!-- row expands margins-->
   <div class="text-center" style="display:flex; flex-wrap: wrap;">

         <div class="col-sm-12">

         </div>

   </div>

</div><!-- /container -->

<% include ../partials/footer %>
